language: node_js
node_js:
- '6'
branches:
  only:
  - master
deploy:
  provider: heroku
  app: rainbow-square
  api_key:
    secure: YtewSabBOIb7UZvUyBZJ0B2dqryG6A71Fss6gGs8HDW1OjZiNhS41ObsuJu502uMCbzHP3QhbDy8bHRJB5yH75qerJMw3uUZQXXa+IDfr78hin6bi+3tnyCMy8kK4l+1unGjyBQ5hVTMxse/oCUADW6EafphZVnXydq8WdKc+z0y+IeEDxUwWLf3mL+MeTUJTOE4/hB2QzpTEKqvLaaiuYts/j4CPialfLJ/BxlUONO3q7tSB71ErAWL7cNC2OjZ/9Z00VB277YPeofQRDUC2XdtWVLzUYcX36qNIN6blU/1Mhiyg5lSrZ7Fk5WSAAFKRgwjEzsYQQcROaOylgUPfuAERkmVSQY3TUGPwzf7cYdIsLDP/+hV8aOajbPSyiGWBlhFLd95BtKqbFW6iQyG5ZDPi59djmrpAIk6uPNArLD2ml1wDMqoJSSEXaENtIvOEMlUCqD2y4IWY826upoymrUFncGkHZ77sozrIuKBCCqiXl103GD09vDbvV+hFDLZB5/UiETXEtbLf6OLUeeTD3+NvEnY4yQhSngld59fD7Al9/y6mkdg4GoBzAA66rugt2zNdQQjHzuPZZVNGMJNwF8yPGt9h4pMla3bhw9xD9BcExY1GxHpWFbMMnErg80DFO4pChOtQdZQYmecJL9UZjWPSFyMHE4RGI9QNrFYpy8=