.all {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.data {
    width: 400px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}
.input_text {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box
}

@font-face {
    font-family: Squareo; /* Гарнитура шрифта */
    src: url("../data/fonts/Squareo.ttf"); /* Путь к файлу со шрифтом */

}
@font-face {
    font-family: Square; /* Гарнитура шрифта */
    src: url("../data/fonts/Square.ttf"); /* Путь к файлу со шрифтом */
}


h1 {
    font: 35pt  Squareo;
}



.grid {
    border: solid 0px #e7e7e7;
    margin-top: 2%;
}

.grid__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.grid__padding7{
    padding: 7px;
}
.grid__item {
    padding: 7px;
    border: solid 0px #e7e7e7;
}